Data import & preparation

1. Historical population dataset (csv) includes a range of annual labour market statistics and indicators from 1960 broken
2. Regional social and environmental indicators dataset (csv) includes around 40 indicators of demography, economic accounts, labour market, social and innovation themes
3. Green growth indicators dataset (csv) indicators for monitoring progress towards green growth
4. Economic Outlook dataset (API) covers annual and quarterly data from 1960 until 2023

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
green_growth = pd.read_csv("GreenGrowth_OECD.csv", index_col = 0)
green_growth.head()

,Country,VAR,Variable,YEA,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
COU,,,,,,,,,,,,,,
AUS,Australia,CO2_PBPROD,"Production-based CO2 productivity, GDP per uni...",1990,1990,USD_KG,US dollars per kilogram,0,Units,2015,2015,1.961928,NaN,NaN
AUS,Australia,CO2_PBPROD,"Production-based CO2 productivity, GDP per uni...",1995,1995,USD_KG,US dollars per kilogram,0,Units,2015,2015,2.091676,NaN,NaN
AUS,Australia,CO2_PBPROD,"Production-based CO2 productivity, GDP per uni...",2000,2000,USD_KG,US dollars per kilogram,0,Units,2015,2015,2.156981,NaN,NaN
AUS,Australia,CO2_PBPROD,"Production-based CO2 productivity, GDP per uni...",2010,2010,USD_KG,US dollars per kilogram,0,Units,2015,2015,2.556194,NaN,NaN
AUS,Australia,CO2_PBPROD,"Production-based CO2 productivity, GDP per uni...",2015,2015,USD_KG,US dollars per kilogram,0,Units,2015,2015,3.020283,NaN,NaN

In [19]:
green_growth.describe()

                 YEA           Year  PowerCode Code         Value
count  143260.000000  143260.000000   143260.000000  1.432600e+05
mean     2010.670739    2010.670739        0.181223  4.011952e+06
std         9.876944       9.876944        1.026890  1.053445e+09
min      1990.000000    1990.000000        0.000000 -5.059876e+03
25%      2000.000000    2000.000000        0.000000  1.276220e+00
50%      2016.000000    2016.000000        0.000000  1.189200e+01
75%      2018.000000    2018.000000        0.000000  6.515363e+01
max      2021.000000    2021.000000        6.000000  3.217270e+11

In [85]:
green_growth.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5564 entries, AUS to SMR
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                5564 non-null   object
 1   VAR                    5564 non-null   object
 2   Variable               5564 non-null   object
 3   YEA                    5564 non-null   int64
 4   Year                   5564 non-null   int64
 5   Unit Code              5564 non-null   object
 6   Unit                   5564 non-null   object
 7   PowerCode Code         5564 non-null   int64
 8   PowerCode              5564 non-null   object
 9   Reference Period Code  5564 non-null   object
 10  Reference Period       5564 non-null   object
 11  Value                  5564 non-null   float64
 12  Flag Codes             5564 non-null   object
 13  Flags                  5564 non-null   object
dtypes: float64(1), int64(3), object(10)
memory usage: 781.1+ KB

In [88]:
green_growth.Variable.value_counts()

Real GDP per capita                                                                          1992
Real GDP, Index 2000=100                                                                     1916
Non-energy material productivity, GDP per unit of DMC                                        1622
Demand-based CO2 productivity, disposable income per unit of energy-related CO2 emissions      18
CO2 emissions from air transport per unit of GDP                                               16
Name: Variable, dtype: int64

In [91]:
green_growth.Country.value_counts(ascending=True)

OECD - Europe            1
Sint Maarten             5
Venezuela               10
Syrian Arab Republic    10
Cuba                    10
                        ..
Spain                   32
Hungary                 32
Russia                  33
Mexico                  33
Turkey                  33
Name: Country, Length: 196, dtype: int64

In [18]:
green_growth.columns

Index(['Country', 'VAR', 'Variable', 'YEA', 'Year', 'Unit Code', 'Unit',
       'PowerCode Code', 'PowerCode', 'Reference Period Code',
       'Reference Period', 'Value', 'Flag Codes', 'Flags'],
      dtype='object')

In [84]:
green_growth['Variable']

COU
AUS                                  Real GDP per capita
AUS                                  Real GDP per capita
AUS                                  Real GDP per capita
AUS                                  Real GDP per capita
AUS                                  Real GDP per capita
                             ...
SMR    Non-energy material productivity, GDP per unit...
SMR    Non-energy material productivity, GDP per unit...
SMR    Non-energy material productivity, GDP per unit...
SMR    Non-energy material productivity, GDP per unit...
SMR    Non-energy material productivity, GDP per unit...
Name: Variable, Length: 5564, dtype: object

In [13]:
green_growth.index

Index(['AUS', 'AUS', 'AUS', 'AUS', 'AUS', 'AUS', 'AUS', 'AUS', 'AUS', 'AUS',
       ...
       'SMR', 'SMR', 'MHL', 'MHL', 'MHL', 'MHL', 'MHL', 'MHL', 'MHL', 'MHL'],
      dtype='object', name='COU', length=143260)

In [32]:
green_growth.groupby(['Country','Variable']).count()['Value'].sort_values(ascending=True)

Country                                                                      Variable
Mali                                                                         New built up area, % since 1990              1
Norway                                                                       Permanent surface water, % total surface     1
BRIICS economies - Brazil, Russia, India, Indonesia, China and South Africa  New built up area, % since 1990              1
Slovak Republic                                                              New built up area, % since 1990              1
                                                                             Permanent surface water, % total surface     1
                                                                                                                         ..
Poland                                                                       Nominal exchange rate                       11
Liberia                                                                      Nominal exchange rate                       11
Tunisia                                                                      GDP deflator                                11
Côte d'Ivoire                                                                Diesel end-user price, USD per litre        11
Sint Maarten                                                                 Terrestrial protected area, % land area     11
Name: Value, Length: 20870, dtype: int64

In [48]:
print(green_growth.isna().sum())

Country                       0
VAR                           0
Variable                      0
YEA                           0
Year                          0
Unit Code                 13619
Unit                      13619
PowerCode Code                0
PowerCode                     0
Reference Period Code    122054
Reference Period         122054
Value                         0
Flag Codes               117191
Flags                    117191
dtype: int64

In [49]:
len(green_growth)

143260

In [66]:
green_growth = green_growth.dropna()
print(green_growth.shape)

(5564, 14)

In [52]:
green_growth.head()

,Country,VAR,Variable,YEA,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
COU,,,,,,,,,,,,,,
AUS,Australia,GDP_RCAP,Real GDP per capita,1990,1990,USD,US Dollar,0,Units,2015,2015,29856.63,E,Estimated value
AUS,Australia,GDP_RCAP,Real GDP per capita,1995,1995,USD,US Dollar,0,Units,2015,2015,33146.87,E,Estimated value
AUS,Australia,GDP_RCAP,Real GDP per capita,2000,2000,USD,US Dollar,0,Units,2015,2015,37933.19,E,Estimated value
AUS,Australia,GDP_RCAP,Real GDP per capita,2010,2010,USD,US Dollar,0,Units,2015,2015,44479.10,E,Estimated value
AUS,Australia,GDP_RCAP,Real GDP per capita,2015,2015,USD,US Dollar,0,Units,2015,2015,47232.65,E,Estimated value

In [53]:
len(green_growth)

5564

In [79]:
green_growth[green_growth['Country'] == 'Ireland']

,Country,VAR,Variable,YEA,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
COU,,,,,,,,,,,,,,
IRL,Ireland,GDP_RCAP,Real GDP per capita,1990,1990,USD,US Dollar,0,Units,2015,2015,25579.780000,E,Estimated value
IRL,Ireland,GDP_RCAP,Real GDP per capita,1995,1995,USD,US Dollar,0,Units,2015,2015,31231.860000,E,Estimated value
IRL,Ireland,GDP_RCAP,Real GDP per capita,2000,2000,USD,US Dollar,0,Units,2015,2015,46523.470000,E,Estimated value
IRL,Ireland,GDP_RCAP,Real GDP per capita,2010,2010,USD,US Dollar,0,Units,2015,2015,51189.430000,E,Estimated value
IRL,Ireland,GDP_RCAP,Real GDP per capita,2015,2015,USD,US Dollar,0,Units,2015,2015,69237.430000,E,Estimated value
IRL,Ireland,GDP_RCAP,Real GDP per capita,2016,2016,USD,US Dollar,0,Units,2015,2015,69879.110000,E,Estimated value
IRL,Ireland,GDP_RCAP,Real GDP per capita,2017,2017,USD,US Dollar,0,Units,2015,2015,75286.130000,E,Estimated value
IRL,Ireland,GDP_RCAP,Real GDP per capita,2018,2018,USD,US Dollar,0,Units,2015,2015,80994.100000,E,Estimated value
IRL,Ireland,GDP_RCAP,Real GDP per capita,2019,2019,USD,US Dollar,0,Units,2015,2015,83863.230000,E,Estimated value
IRL,Ireland,GDP_RCAP,Real GDP per capita,2020,2020,USD,US Dollar,0,Units,2015,2015,87785.520000,E,Estimated value
IRL,Ireland,GDP_RCAP,Real GDP per capita,2021,2021,USD,US Dollar,0,Units,2015,2015,97829.200000,E,Estimated value
IRL,Ireland,DMC_PROD,"Non-energy material productivity, GDP per unit...",1995,1995,USD_KG,US dollars per kilogram,0,Units,2015,2015,1.615068,E,Estimated value
IRL,Ireland,DMC_PROD,"Non-energy material productivity, GDP per unit...",2000,2000,USD_KG,US dollars per kilogram,0,Units,2015,2015,1.591426,E,Estimated value
IRL,Ireland,DMC_PROD,"Non-energy material productivity, GDP per unit...",2010,2010,USD_KG,US dollars per kilogram,0,Units,2015,2015,2.769107,E,Estimated value
IRL,Ireland,DMC_PROD,"Non-energy material productivity, GDP per unit...",2015,2015,USD_KG,US dollars per kilogram,0,Units,2015,2015,4.118991,E,Estimated value
IRL,Ireland,DMC_PROD,"Non-energy material productivity, GDP per unit...",2016,2016,USD_KG,US dollars per kilogram,0,Units,2015,2015,3.879192,E,Estimated value
IRL,Ireland,DMC_PROD,"Non-energy material productivity, GDP per unit...",2017,2017,USD_KG,US dollars per kilogram,0,Units,2015,2015,3.957439,E,Estimated value
IRL,Ireland,DMC_PROD,"Non-energy material productivity, GDP per unit...",2018,2018,USD_KG,US dollars per kilogram,0,Units,2015,2015,4.021537,E,Estimated value
IRL,Ireland,DMC_PROD,"Non-energy material productivity, GDP per unit...",2019,2019,USD_KG,US dollars per kilogram,0,Units,2015,2015,3.912368,E,Estimated value
IRL,Ireland,DMC_PROD,"Non-energy material productivity, GDP per unit...",2020,2020,USD_KG,US dollars per kilogram,0,Units,2015,2015,4.393989,E,Estimated value
IRL,Ireland,CO2_DBPROD_NNDI,"Demand-based CO2 productivity, disposable inco...",1995,1995,USD_KG,US dollars per kilogram,0,Units,2015,2015,2.637036,E,Estimated value
IRL,Ireland,GDP_R00,"Real GDP, Index 2000=100",1990,1990,IDX,Index,0,Units,2000_100,2000=100,50.865800,E,Estimated value
IRL,Ireland,GDP_R00,"Real GDP, Index 2000=100",1995,1995,IDX,Index,0,Units,2000_100,2000=100,63.796810,E,Estimated value
IRL,Ireland,GDP_R00,"Real GDP, Index 2000=100",2000,2000,IDX,Index,0,Units,2000_100,2000=100,100.000000,E,Estimated value
IRL,Ireland,GDP_R00,"Real GDP, Index 2000=100",2010,2010,IDX,Index,0,Units,2000_100,2000=100,132.247700,E,Estimated value
IRL,Ireland,GDP_R00,"Real GDP, Index 2000=100",2015,2015,IDX,Index,0,Units,2000_100,2000=100,184.098700,E,Estimated value
IRL,Ireland,GDP_R00,"Real GDP, Index 2000=100",2016,2016,IDX,Index,0,Units,2000_100,2000=100,187.858400,E,Estimated value
IRL,Ireland,GDP_R00,"Real GDP, Index 2000=100",2017,2017,IDX,Index,0,Units,2000_100,2000=100,204.653000,E,Estimated value
IRL,Ireland,GDP_R00,"Real GDP, Index 2000=100",2018,2018,IDX,Index,0,Units,2000_100,2000=100,223.133500,E,Estimated value
IRL,Ireland,GDP_R00,"Real GDP, Index 2000=100",2019,2019,IDX,Index,0,Units,2000_100,2000=100,234.104900,E,Estimated value
IRL,Ireland,GDP_R00,"Real GDP, Index 2000=100",2020,2020,IDX,Index,0,Units,2000_100,2000=100,247.839800,E,Estimated value
IRL,Ireland,GDP_R00,"Real GDP, Index 2000=100",2021,2021,IDX,Index,0,Units,2000_100,2000=100,281.245300,E,Estimated value

In [71]:
green_growth_ireland = green_growth[green_growth['Country'] == 'Ireland']
print(green_growth_ireland)

     Country              VAR  \
COU
IRL  Ireland         GDP_RCAP
IRL  Ireland         GDP_RCAP
IRL  Ireland         GDP_RCAP
IRL  Ireland         GDP_RCAP
IRL  Ireland         GDP_RCAP
IRL  Ireland         GDP_RCAP
IRL  Ireland         GDP_RCAP
IRL  Ireland         GDP_RCAP
IRL  Ireland         GDP_RCAP
IRL  Ireland         GDP_RCAP
IRL  Ireland         GDP_RCAP
IRL  Ireland         DMC_PROD
IRL  Ireland         DMC_PROD
IRL  Ireland         DMC_PROD
IRL  Ireland         DMC_PROD
IRL  Ireland         DMC_PROD
IRL  Ireland         DMC_PROD
IRL  Ireland         DMC_PROD
IRL  Ireland         DMC_PROD
IRL  Ireland         DMC_PROD
IRL  Ireland  CO2_DBPROD_NNDI
IRL  Ireland          GDP_R00
IRL  Ireland          GDP_R00
IRL  Ireland          GDP_R00
IRL  Ireland          GDP_R00
IRL  Ireland          GDP_R00
IRL  Ireland          GDP_R00
IRL  Ireland          GDP_R00
IRL  Ireland          GDP_R00
IRL  Ireland          GDP_R00
IRL  Ireland          GDP_R00
IRL  Ireland          GDP_R00

                                              Variable   YEA  Year Unit Code  \
COU
IRL                                Real GDP per capita  1990  1990       USD
IRL                                Real GDP per capita  1995  1995       USD
IRL                                Real GDP per capita  2000  2000       USD
IRL                                Real GDP per capita  2010  2010       USD
IRL                                Real GDP per capita  2015  2015       USD
IRL                                Real GDP per capita  2016  2016       USD
IRL                                Real GDP per capita  2017  2017       USD
IRL                                Real GDP per capita  2018  2018       USD
IRL                                Real GDP per capita  2019  2019       USD
IRL                                Real GDP per capita  2020  2020       USD
IRL                                Real GDP per capita  2021  2021       USD
IRL  Non-energy material productivity, GDP per unit...  1995  1995    USD_KG
IRL  Non-energy material productivity, GDP per unit...  2000  2000    USD_KG
IRL  Non-energy material productivity, GDP per unit...  2010  2010    USD_KG
IRL  Non-energy material productivity, GDP per unit...  2015  2015    USD_KG
IRL  Non-energy material productivity, GDP per unit...  2016  2016    USD_KG
IRL  Non-energy material productivity, GDP per unit...  2017  2017    USD_KG
IRL  Non-energy material productivity, GDP per unit...  2018  2018    USD_KG
IRL  Non-energy material productivity, GDP per unit...  2019  2019    USD_KG
IRL  Non-energy material productivity, GDP per unit...  2020  2020    USD_KG
IRL  Demand-based CO2 productivity, disposable inco...  1995  1995    USD_KG
IRL                           Real GDP, Index 2000=100  1990  1990       IDX
IRL                           Real GDP, Index 2000=100  1995  1995       IDX
IRL                           Real GDP, Index 2000=100  2000  2000       IDX
IRL                           Real GDP, Index 2000=100  2010  2010       IDX
IRL                           Real GDP, Index 2000=100  2015  2015       IDX
IRL                           Real GDP, Index 2000=100  2016  2016       IDX
IRL                           Real GDP, Index 2000=100  2017  2017       IDX
IRL                           Real GDP, Index 2000=100  2018  2018       IDX
IRL                           Real GDP, Index 2000=100  2019  2019       IDX
IRL                           Real GDP, Index 2000=100  2020  2020       IDX
IRL                           Real GDP, Index 2000=100  2021  2021       IDX

                        Unit  PowerCode Code PowerCode Reference Period Code  \
COU
IRL                US Dollar               0     Units                  2015
IRL                US Dollar               0     Units                  2015
IRL                US Dollar               0     Units                  2015
IRL                US Dollar               0     Units                  2015
IRL                US Dollar               0     Units                  2015
IRL                US Dollar               0     Units                  2015
IRL                US Dollar               0     Units                  2015
IRL                US Dollar               0     Units                  2015
IRL                US Dollar               0     Units                  2015
IRL                US Dollar               0     Units                  2015
IRL                US Dollar               0     Units                  2015
IRL  US dollars per kilogram               0     Units                  2015
IRL  US dollars per kilogram               0     Units                  2015
IRL  US dollars per kilogram               0     Units                  2015
IRL  US dollars per kilogram               0     Units                  2015
IRL  US dollars per kilogram               0     Units                  2015
IRL  US dollars per kilogram               0     Units                  2015
IRL  US dollars per kilogram               0     Units                  2015
IRL  US dollars per kilogram               0     Units                  2015
IRL  US dollars per kilogram               0     Units                  2015
IRL  US dollars per kilogram               0     Units                  2015
IRL                    Index               0     Units              2000_100
IRL                    Index               0     Units              2000_100
IRL                    Index               0     Units              2000_100
IRL                    Index               0     Units              2000_100
IRL                    Index               0     Units              2000_100
IRL                    Index               0     Units              2000_100
IRL                    Index               0     Units              2000_100
IRL                    Index               0     Units              2000_100
IRL                    Index               0     Units              2000_100
IRL                    Index               0     Units              2000_100
IRL                    Index               0     Units              2000_100

    Reference Period         Value Flag Codes            Flags
COU
IRL             2015  25579.780000          E  Estimated value
IRL             2015  31231.860000          E  Estimated value
IRL             2015  46523.470000          E  Estimated value
IRL             2015  51189.430000          E  Estimated value
IRL             2015  69237.430000          E  Estimated value
IRL             2015  69879.110000          E  Estimated value
IRL             2015  75286.130000          E  Estimated value
IRL             2015  80994.100000          E  Estimated value
IRL             2015  83863.230000          E  Estimated value
IRL             2015  87785.520000          E  Estimated value
IRL             2015  97829.200000          E  Estimated value
IRL             2015      1.615068          E  Estimated value
IRL             2015      1.591426          E  Estimated value
IRL             2015      2.769107          E  Estimated value
IRL             2015      4.118991          E  Estimated value
IRL             2015      3.879192          E  Estimated value
IRL             2015      3.957439          E  Estimated value
IRL             2015      4.021537          E  Estimated value
IRL             2015      3.912368          E  Estimated value
IRL             2015      4.393989          E  Estimated value
IRL             2015      2.637036          E  Estimated value
IRL         2000=100     50.865800          E  Estimated value
IRL         2000=100     63.796810          E  Estimated value
IRL         2000=100    100.000000          E  Estimated value
IRL         2000=100    132.247700          E  Estimated value
IRL         2000=100    184.098700          E  Estimated value
IRL         2000=100    187.858400          E  Estimated value
IRL         2000=100    204.653000          E  Estimated value
IRL         2000=100    223.133500          E  Estimated value
IRL         2000=100    234.104900          E  Estimated value
IRL         2000=100    247.839800          E  Estimated value
IRL         2000=100    281.245300          E  Estimated value

In [80]:
green_growth_ireland.groupby(['Variable']).count()['Value'].sort_values(ascending=False)

Variable
Real GDP per capita                                                                          11
Real GDP, Index 2000=100                                                                     11
Non-energy material productivity, GDP per unit of DMC                                         9
Demand-based CO2 productivity, disposable income per unit of energy-related CO2 emissions     1
Name: Value, dtype: int64

In [4]:
historical_pop = pd.read_csv("HISTPOP_OECD.csv", index_col = 0)
historical_pop.head()

,Country,SEX,Sex,AGE,Age,TIME,Time,Value,Flag Codes,Flags
LOCATION,,,,,,,,,,
AUS,Australia,W,Women,TOTAL,Total,2005,2005,10157211.0,NaN,NaN
AUS,Australia,W,Women,TOTAL,Total,2006,2006,10291542.0,NaN,NaN
AUS,Australia,W,Women,TOTAL,Total,2007,2007,10473986.0,NaN,NaN
AUS,Australia,W,Women,TOTAL,Total,2008,2008,10677154.0,NaN,NaN
AUS,Australia,W,Women,TOTAL,Total,2009,2009,10890856.0,NaN,NaN

In [6]:
historical_pop.describe()

             TIME        Time         Value  Flag Codes  Flags
count  81840.0000  81840.0000  8.184000e+04         0.0    0.0
mean    2012.5000   2012.5000  2.725835e+07         NaN    NaN
std        4.6098      4.6098  2.138482e+08         NaN    NaN
min     2005.0000   2005.0000 -2.334194e+00         NaN    NaN
25%     2008.7500   2008.7500  1.657375e+04         NaN    NaN
50%     2012.5000   2012.5000  3.523030e+05         NaN    NaN
75%     2016.2500   2016.2500  2.665769e+06         NaN    NaN
max     2020.0000   2020.0000  7.794799e+09         NaN    NaN

In [7]:
historical_pop.columns

Index(['Country', 'SEX', 'Sex', 'AGE', 'Age', 'TIME', 'Time', 'Value',
       'Flag Codes', 'Flags'],
      dtype='object')

In [21]:
historical_pop.index

Index(['AUS', 'AUS', 'AUS', 'AUS', 'AUS', 'AUS', 'AUS', 'AUS', 'AUS', 'AUS',
       ...
       'SVN', 'SVN', 'SVN', 'SVN', 'SVN', 'SVN', 'SVN', 'SVN', 'SVN', 'SVN'],
      dtype='object', name='LOCATION', length=81840)

In [83]:
historical_pop.groupby(['Country', 'Time']).sum()

                  TIME         Value  Flag Codes  Flags
Country   Time
Argentina 2005  186465  2.992629e+08         0.0    0.0
          2006  186558  3.025085e+08         0.0    0.0
          2007  186651  3.058234e+08         0.0    0.0
          2008  186744  3.092096e+08         0.0    0.0
          2009  186837  3.126688e+08         0.0    0.0
...                ...           ...         ...    ...
World     2016  187488  5.794830e+10         0.0    0.0
          2017  187581  5.864281e+10         0.0    0.0
          2018  187674  5.933332e+10         0.0    0.0
          2019  187767  6.002005e+10         0.0    0.0
          2020  187860  6.070262e+10         0.0    0.0

[880 rows x 4 columns]

In [34]:
regional = pd.read_csv("REGION_SOCIAL_OECD.csv", index_col = 0)
regional.head()

,Territory level and Typology,REG_ID,Region,VAR,Indicator,POS,Position,TIME,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
TL,,,,,,,,,,,,,,,,,,
1,Country,AUS,Australia,DOC,Active Physicians (number),ALL,All regions,2001,2001,NaN,NaN,0,Units,NaN,NaN,53382.00,NaN,NaN
1,Country,AUS,Australia,DOC_RA,Active Physicians Rate (physicians for 1000 po...,ALL,All regions,2001,2001,NaN,NaN,0,Units,NaN,NaN,2.77,NaN,NaN
1,Country,AUS,Australia,DOC,Active Physicians (number),ALL,All regions,2002,2002,NaN,NaN,0,Units,NaN,NaN,53992.00,NaN,NaN
1,Country,AUS,Australia,DOC_RA,Active Physicians Rate (physicians for 1000 po...,ALL,All regions,2002,2002,NaN,NaN,0,Units,NaN,NaN,2.77,NaN,NaN
1,Country,AUS,Australia,DOC,Active Physicians (number),ALL,All regions,2003,2003,NaN,NaN,0,Units,NaN,NaN,56208.00,NaN,NaN

In [37]:
regional.describe()

,TIME,Year,Unit Code,Unit,PowerCode Code,Reference Period Code,Reference Period,Value
count,17809.00000,17809.00000,0.0,0.0,17809.0,0.0,0.0,1.780900e+04
mean,2009.13145,2009.13145,NaN,NaN,0.0,NaN,NaN,1.132435e+04
std,4.92398,4.92398,NaN,NaN,0.0,NaN,NaN,8.073866e+04
min,2001.00000,2001.00000,NaN,NaN,0.0,NaN,NaN,9.000000e-02
25%,2005.00000,2005.00000,NaN,NaN,0.0,NaN,NaN,3.090000e+00
50%,2009.00000,2009.00000,NaN,NaN,0.0,NaN,NaN,2.310000e+01
75%,2013.00000,2013.00000,NaN,NaN,0.0,NaN,NaN,5.362000e+03
max,2019.00000,2019.00000,NaN,NaN,0.0,NaN,NaN,2.794700e+06

In [38]:
regional.columns

Index(['Territory level and Typology', 'REG_ID', 'Region', 'VAR', 'Indicator',
       'POS', 'Position', 'TIME', 'Year', 'Unit Code', 'Unit',
       'PowerCode Code', 'PowerCode', 'Reference Period Code',
       'Reference Period', 'Value', 'Flag Codes', 'Flags'],
      dtype='object')

In [39]:
regional.index

Int64Index([1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            ...
            2, 2, 2, 2, 2, 2, 2, 2, 1, 1],
           dtype='int64', name='TL', length=17809)

In [28]:
import requests
economic_outlook =requests.get('https://stats.oecd.org/SDMX-JSON/data/EO110_INTERNET/AUS+AUT+BEL+CAN+CHL+COL+CRI+CZE+DNK+EST+FIN+FRA+DEU+GRC+HUN+ISL+IRL+ISR+ITA+JPN+KOR+LVA+LTU+LUX+MEX+NLD+NZL+NOR+POL+PRT+SVK+SVN+ESP+SWE+CHE+TUR+GBR+USA+EA17+NAT+OTO+WLD+NMEC+ARG+BRA+BGR+CHN+IND+IDN+ROU+RUS+ZAF+GRPS+OPEC+PAC+EUR+SOV+DAE+ROW+RWD+OOP+OIL.GDPV_ANNPCT.A/all?startTime=2003&endTime=2023&pid=9b237e1c-7f76-41b7-b7bc-5fa6fbe125df')
print(economic_outlook.status_code)
print(economic_outlook.text)

200