Data import & preparation

1. Historical population dataset (csv) includes a range of annual labour market statistics and indicators from 1960 broken
2. Regional social and environmental indicators dataset (csv) includes around 40 indicators of demography, economic accounts, labour market, social and innovation themes
3. Green growth indicators dataset (csv) indicators for monitoring progress towards green growth
4. Economic Outlook dataset (API) covers annual and quarterly data from 1960 until 2023

In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
green_growth = pd.read_csv("GreenGrowth_OECD.csv", index_col = 0)
green_growth.head()

,Country,VAR,Variable,YEA,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
COU,,,,,,,,,,,,,,
AUS,Australia,CO2_PBPROD,"Production-based CO2 productivity, GDP per uni...",1990,1990,USD_KG,US dollars per kilogram,0,Units,2015,2015,1.961928,NaN,NaN
AUS,Australia,CO2_PBPROD,"Production-based CO2 productivity, GDP per uni...",1995,1995,USD_KG,US dollars per kilogram,0,Units,2015,2015,2.091676,NaN,NaN
AUS,Australia,CO2_PBPROD,"Production-based CO2 productivity, GDP per uni...",2000,2000,USD_KG,US dollars per kilogram,0,Units,2015,2015,2.156981,NaN,NaN
AUS,Australia,CO2_PBPROD,"Production-based CO2 productivity, GDP per uni...",2010,2010,USD_KG,US dollars per kilogram,0,Units,2015,2015,2.556194,NaN,NaN
AUS,Australia,CO2_PBPROD,"Production-based CO2 productivity, GDP per uni...",2015,2015,USD_KG,US dollars per kilogram,0,Units,2015,2015,3.020283,NaN,NaN

In [8]:
green_growth.describe()

                 YEA           Year  PowerCode Code         Value
count  143260.000000  143260.000000   143260.000000  1.432600e+05
mean     2010.670739    2010.670739        0.181223  4.011952e+06
std         9.876944       9.876944        1.026890  1.053445e+09
min      1990.000000    1990.000000        0.000000 -5.059876e+03
25%      2000.000000    2000.000000        0.000000  1.276220e+00
50%      2016.000000    2016.000000        0.000000  1.189200e+01
75%      2018.000000    2018.000000        0.000000  6.515363e+01
max      2021.000000    2021.000000        6.000000  3.217270e+11

In [9]:
green_growth.columns

Index(['Country', 'VAR', 'Variable', 'YEA', 'Year', 'Unit Code', 'Unit',
       'PowerCode Code', 'PowerCode', 'Reference Period Code',
       'Reference Period', 'Value', 'Flag Codes', 'Flags'],
      dtype='object')

In [10]:
green_growth.info()

<class 'pandas.core.frame.DataFrame'>
Index: 143260 entries, AUS to MHL
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Country                143260 non-null  object
 1   VAR                    143260 non-null  object
 2   Variable               143260 non-null  object
 3   YEA                    143260 non-null  int64
 4   Year                   143260 non-null  int64
 5   Unit Code              129641 non-null  object
 6   Unit                   129641 non-null  object
 7   PowerCode Code         143260 non-null  int64
 8   PowerCode              143260 non-null  object
 9   Reference Period Code  21206 non-null   object
 10  Reference Period       21206 non-null   object
 11  Value                  143260 non-null  float64
 12  Flag Codes             26069 non-null   object
 13  Flags                  26069 non-null   object
dtypes: float64(1), int64(3), object(10)
memory usage: 16.4+ MB

In [11]:
green_growth['Variable']

COU
AUS    Production-based CO2 productivity, GDP per uni...
AUS    Production-based CO2 productivity, GDP per uni...
AUS    Production-based CO2 productivity, GDP per uni...
AUS    Production-based CO2 productivity, GDP per uni...
AUS    Production-based CO2 productivity, GDP per uni...
                             ...
MHL                                    Biomass, % of DMC
MHL                                    Biomass, % of DMC
MHL                                    Biomass, % of DMC
MHL                                    Biomass, % of DMC
MHL                                    Biomass, % of DMC
Name: Variable, Length: 143260, dtype: object

In [12]:
green_growth.Variable.value_counts()

Population density, inhabitants per km2                     2437
Population                                                  2300
Annual surface temperature, change since 1951-1980          2243
Nominal exchange rate                                       2236
GDP deflator                                                2170
                                                            ...
Threatened bird species, % total known species                71
Threatened vascular plant species, % total known species      69
Threatened mammal species, % total known species              67
Total renewable freshwater per capita                         42
Environmentally related R&D expenditure, % GDP                39
Name: Variable, Length: 159, dtype: int64

In [13]:
green_growth.Country.value_counts()

Denmark              1182
Japan                1180
France               1177
Netherlands          1171
Norway               1165
                     ...
Saint Martin           57
Saint Barthélemy       51
Antarctica             42
Clipperton Island      22
Bonaire                22
Name: Country, Length: 237, dtype: int64

In [14]:
unique_countries = green_growth["Country"].unique()
print(unique_countries)

['Australia' 'Austria' 'Belgium' 'Canada' 'Czech Republic' 'Denmark'
 'Finland' 'France' 'Germany' 'Greece' 'Hungary' 'Iceland' 'Ireland'
 'Italy' 'Japan' 'Korea' 'Luxembourg' 'Mexico' 'Netherlands' 'New Zealand'
 'Norway' 'Poland' 'Portugal' 'Slovak Republic' 'Spain' 'Sweden'
 'Switzerland' 'Turkey' 'United Kingdom' 'United States' 'Brazil' 'Chile'
 "China (People's Republic of)" 'Colombia' 'Estonia' 'India' 'Indonesia'
 'Israel' 'Latvia' 'Russia' 'Slovenia' 'South Africa' 'World'
 'BRIICS economies - Brazil, Russia, India, Indonesia, China and South Africa'
 'OECD - Total' 'OECD - Europe' 'OECD America' 'OECD Asia Oceania'
 'Saudi Arabia' 'Argentina' 'Costa Rica' 'Lithuania' 'Iran' 'Jordan'
 'Brunei Darussalam' 'Turkmenistan' 'Azerbaijan' "Côte d'Ivoire" 'Algeria'
 'Philippines' 'Viet Nam' 'Egypt' 'Thailand' 'Bolivia'
 'Dominican Republic' 'Panama' 'Peru' 'Lebanon' 'Nicaragua' 'Morocco'
 'Ukraine' 'Haiti' 'Bulgaria' 'Croatia' 'Guatemala' 'Cambodia' 'Paraguay'
 'Iraq' 'Georgia' 'Tunisia' 'Jamaica' 'El Salvador' 'Romania' 'Rwanda'
 'Bahrain' 'Cuba' 'Honduras' 'United Arab Emirates' 'Libya'
 "Lao People's Democratic Republic" 'Uzbekistan' 'Oman'
 'Syrian Arab Republic' 'Kuwait' 'Malaysia' 'Myanmar' 'Kyrgyzstan'
 'Djibouti' 'Moldova' 'Tajikistan' 'Qatar' 'Belarus' 'Puerto Rico'
 'Singapore' 'Uruguay' 'Armenia' 'Kazakhstan' 'Malta' 'Ecuador'
 'Trinidad and Tobago' 'Venezuela' 'Senegal' 'Cameroon' 'Yemen' 'G20' 'G7'
 'Eastern Europe, Caucasus and Central Asia' 'Latin America and Caribbean'
 'Middle East and North Africa' 'Belize' 'Uganda' 'Mozambique' 'Tanzania'
 'Cabo Verde' 'Togo' 'Nigeria' 'Benin' 'Serbia' 'Zimbabwe' 'Pakistan'
 'Niger' 'Cyprus' 'Bahamas' 'Zambia' 'Mauritius' 'Albania' 'Botswana'
 'Congo' 'Democratic Republic of the Congo' 'Eritrea' 'Ethiopia' 'Gabon'
 'Ghana' 'Kenya' 'North Macedonia' 'Mongolia' 'Namibia'
 'European Union (28 countries)' 'Monaco' 'Tuvalu' 'Barbados' 'Bhutan'
 'Central African Republic' 'Sierra Leone' 'Tonga' 'Eswatini' 'Gambia'
 'Burkina Faso' 'Antigua and Barbuda' 'Kiribati' 'Liechtenstein'
 'Bangladesh' 'Burundi' 'Sri Lanka' 'Maldives' 'Sao Tome and Principe'
 'Bosnia and Herzegovina' 'Turks and Caicos Islands' 'Palau'
 'Equatorial Guinea' 'Somalia' 'Chad' 'Montenegro' 'Montserrat'
 'Mauritania' 'Guinea' 'Lesotho' 'Vanuatu' 'Liberia' 'Andorra' 'Suriname'
 'Samoa' 'Euro area (19 countries)' 'Micronesia' 'Mali' 'Solomon Islands'
 'American Samoa' 'Afghanistan' 'San Marino' 'Madagascar'
 'Papua New Guinea' 'Seychelles' 'ASEAN' 'Angola' 'Bermuda' 'Aruba'
 'Tokelau' 'Anguilla' 'Antarctica' 'Malawi' 'Nauru' 'Martinique' 'Mayotte'
 'Fiji' 'Saint Pierre and Miquelon' 'United States Virgin Islands'
 'New Caledonia' 'Cook Islands' 'Dominica' 'Faeroe Islands' 'Jersey'
 'Niue' 'South Sudan ' 'Cayman Islands' 'Saint Barthélemy'
 'Marshall Islands' 'Wallis and Futuna' 'Norfolk Island'
 'Saint Vincent and the Grenadines' 'Guyana' 'Sudan'
 'Saint Kitts and Nevis' 'Comoros' 'Clipperton Island' 'Saint Helena'
 'Northern Mariana Islands' 'Timor-Leste' 'British Virgin Islands'
 'Guinea-Bissau' 'Curacao' 'Saint Lucia' 'Netherlands Antilles' 'Bonaire'
 'Christmas Islands' 'Saint Martin' 'Sint Maarten'
 'European Union – 27 countries (from 01/02/2020)']

In [15]:
unique_variables = green_growth["Variable"].unique()
print(unique_variables)

['Production-based CO2 productivity, GDP per unit of energy-related CO2 emissions'
 'Production-based CO2 intensity, energy-related CO2 per capita'
 'Energy productivity,  GDP per unit of TPES'
 'Energy intensity, TPES per capita'
 'Renewable energy supply, % total energy supply'
 'Renewable electricity, % total electricity generation'
 'Total freshwater abstraction per capita'
 'Water stress, total freshwater abstraction as % total available renewable resources'
 'Water stress, total freshwater abstraction as % total internal renewable resources'
 'Threatened mammal species, % total known species'
 'Threatened bird species, % total known species'
 'Threatened vascular plant species, % total known species'
 'Population connected to public sewerage, % total population'
 'Environmentally related government R&D budget, % total government R&D'
 'Environmentally related R&D expenditure, % GDP'
 'Renewable energy public RD&D budget, % total energy public RD&D'
 'Energy public RD&D budget, % GDP'
 'Development of environment-related technologies, % all technologies'
 'Development of environment-related technologies, % inventions worldwide'
 'Development of environment-related technologies, inventions per capita'
 'Environmentally related ODA, % total ODA'
 'ODA - renewable energy sector, % total allocable ODA'
 'ODA - water supply and sanitation sector, % total allocable ODA'
 'ODA - all sectors - biodiversity, % total ODA'
 'ODA - all sectors - climate change mitigation, % total ODA'
 'ODA - all sectors - climate change adaptation, % total ODA'
 'ODA - all sectors - desertification, % total ODA'
 'Net ODA provided, % GNI' 'Environmentally related taxes, % GDP'
 'Environmentally related taxes, % total tax revenue'
 'Energy related tax revenue, % total environmental tax revenue'
 'Road transport-related tax revenue, % total environmental tax revenue'
 'Real GDP per capita' 'Population density, inhabitants per km2'
 'Labour tax revenue, % GDP'
 'Population connected to sewerage with primary treatment, % total population'
 'Population connected to sewerage with secondary treatment, % total population'
 'Population connected to sewerage with tertiary treatment, % total population'
 'Demand-based CO2 productivity, GDP per unit of energy-related CO2 emissions'
 'Demand-based CO2 productivity, disposable income per unit of energy-related CO2 emissions'
 'Relative advantage in environment-related technology'
 'Total primary energy supply' 'Petrol tax, USD per litre'
 'Value added in industry, % of total value added'
 'Value added in services, % of total value added'
 'Production-based CO2 emissions'
 'Municipal waste recycled or composted, % treated waste '
 'ODA - environment sector, % total allocable ODA'
 'Demand-based CO2 emissions' 'Diesel tax, USD per litre'
 'Value added in agriculture, % of total value added'
 'Municipal waste incinerated, % treated waste'
 'Demand-based CO2 intensity, energy-related CO2 per capita'
 'Fossil fuel consumer support, % energy related tax revenue'
 'Biomass, % of DMC' 'Real GDP, Index 2000=100'
 'Demand-based CO2 emissions, index 2000=100'
 'Municipal waste generated, kg per capita'
 'Total primary energy supply, index 2000=100'
 'Fossil fuel consumer support, % total tax revenue'
 'Production-based CO2 emissions, index 2000=100'
 'Non-energy material productivity, GDP per unit of DMC'
 'Municipal waste disposed to landfills, % treated waste'
 'Adjustment for pollution abatement'
 'Percentage of population exposed to more than 35 micrograms/m3'
 'Percentage of population exposed to more than 10 micrograms/m3'
 'Mean population exposure to PM2.5' 'Contribution of natural capital'
 'Environmentally adjusted multifactor productivity growth'
 'Petroleum support, % total fossil fuel support' 'Metals, % of DMC'
 'Energy consumption in transport, % total energy consumption'
 'Population with access to improved sanitation, % total population'
 'Fossil fuel consumer support, % total fossil fuel support'
 'Energy consumption in other sectors, % total energy consumption'
 'Energy consumption in services, % total energy consumption'
 'Intensity of use of forest resources'
 'Total fossil fuel support, % of total tax revenue'
 'Mortality from exposure to ambient PM2.5'
 'Total renewable freshwater per capita'
 'Fossil fuel producer support, % total fossil fuel support'
 'Phosphorus balance per hectare'
 'Coal support, % total fossil fuel support'
 'Energy consumption in industry, % total energy consumption'
 'Energy consumption in agriculture, % total energy consumption'
 'Gas support, % total fossil fuel support' 'Nitrogen balance per hectare'
 'Labour tax revenue, % total tax revenue'
 'Non-metallic minerals, % of DMC'
 'Population with access to improved drinking water sources, % total population '
 'Forest resource stocks'
 'Fossil fuel general services support, % total fossil fuel support'
 'Fossil fuel public RD&D budget (excluding CCS), % total energy public RD&D'
 'Loss of natural and semi-natural vegetated land, % since 1992'
 'Conversion of permanent water to not-water surface, % permanent water, since 1984'
 'Gain of natural and semi-natural vegetated land, % since 2004'
 'Built up area per capita'
 'Loss of natural and semi-natural vegetated land, % since 2004'
 'Conversion from cropland to artificial surfaces, % since 1992'
 'Conversion from natural and semi-natural land to cropland, % since 1992'
 'Water, % total' 'Bare land, % total' 'Artificial surfaces, % total '
 'Conversion from natural and semi-natural land to artificial surfaces, % since 1992'
 'Permanent surface water, % total surface'
 'Seasonal surface water, % total surface '
 'Natural and semi-natural vegetated land, % total'
 'Built up area, % total land'
 'Conversion of permanent to seasonal water surface, % permanent water, since 1984'
 'Cropland, % total'
 'Gain of natural and semi-natural vegetated land, % since 1992'
 'Conversion of not-water to permanent water surface, % permanent water, since 1984'
 'Welfare costs of premature mortalities from exposure to ambient PM2.5, GDP equivalent'
 'Conversion of seasonal to permanent water surface, % permanent water, since 1984'
 'New built up area, % since 1990' 'Mortality from exposure to lead'
 'Welfare costs of premature deaths from exposure to ambient ozone, GDP equivalent'
 'Diesel end-user price, USD per litre'
 'Welfare costs of premature deaths from exposure to lead, GDP equivalent'
 'Mortality from exposure to ambient ozone'
 'Mean feed-in tariff for solar PV electricity generation'
 'Petrol end-user price, USD per litre'
 'Mean feed-in tariff for wind electricity generation'
 'Welfare costs of premature mortalities from exposure to residential radon, GDP equivalent'
 'Mortality from exposure to residential radon'
 'Industry electricity price, USD per kWh'
 'Residential electricity price, USD per kWh'
 'Total fertility rate, children per woman' 'Life expectancy at birth'
 'Population, ages 15-64, % total'
 'CO2 emissions from air transport per unit of GDP' 'Population'
 'Annual surface temperature, change since 1951-1980'
 'National expenditure on environmental protection, % GDP'
 'Population, ages 65 and above, % total'
 'Irrigated land, % agricultural land'
 'Sales of pesticides per unit of agricultural land'
 'Intact forest landscape, km2' 'Women, % total population'
 'Population, ages 0-14, % total'
 'Emissions priced above EUR 60 per tonne of CO2, % total emissions'
 'CO2 emissions from air transport per capita' 'Net migration'
 'Terrestrial protected area, % land area'
 'Emissions priced above EUR 30 per tonne of CO2, % total emissions'
 'Farmland Birds Index, 2000=100'
 'Marine protected area, % total exclusive economic zone'
 'Intact forest landscape loss, % since 2000'
 'Forest Birds Index, 2000=100'
 'Electricity support, % total fossil fuel support'
 'CO2 intensity of GDP, CO2 emissions per unit of GDP'
 'Renewable energy supply (excluding solid biofuels), % total energy supply'
 'Naturally regenerating forests, % total forest area'
 'Forests with long-term management plans, % total forest area'
 'GDP deflator' 'Nominal exchange rate' 'Purchasing power parity'
 'Real GDP'
 'Emissions priced above EUR 120 per tonne of CO2, % total emissions']

In [16]:
grouped_variables=green_growth.groupby(['Country','Variable']).count()['Value'].sort_values(ascending=False)
print(grouped_variables)

Country     Variable
Bhutan      Real GDP, Index 2000=100                                                            11
Spain       Terrestrial protected area, % land area                                             11
Costa Rica  Marine protected area, % total exclusive economic zone                              11
Tanzania    Annual surface temperature, change since 1951-1980                                  11
Belgium     Marine protected area, % total exclusive economic zone                              11
                                                                                                ..
Cyprus      Petrol tax, USD per litre                                                            1
            Seasonal surface water, % total surface                                              1
Mali        Conversion of seasonal to permanent water surface, % permanent water, since 1984     1
Turkey      Conversion of seasonal to permanent water surface, % permanent water, since 1984     1
Portugal    New built up area, % since 1990                                                      1
Name: Value, Length: 20870, dtype: int64

In [46]:
green_growth_significant=green_growth.groupby(['Country','Variable']).filter(lambda v: (v.Value.size >= 11))

In [47]:
green_growth_significant.head()

,Country,VAR,Variable,YEA,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
COU,,,,,,,,,,,,,,
AUS,Australia,ENVRD_GBAORD,"Environmentally related government R&D budget,...",1990,1990,PC,Percentage,0,Units,NaN,NaN,3.115022,B,Break
AUS,Australia,ENVRD_GBAORD,"Environmentally related government R&D budget,...",1995,1995,PC,Percentage,0,Units,NaN,NaN,1.194272,B,Break
AUS,Australia,ENVRD_GBAORD,"Environmentally related government R&D budget,...",2000,2000,PC,Percentage,0,Units,NaN,NaN,2.950042,B,Break
AUS,Australia,ENVRD_GBAORD,"Environmentally related government R&D budget,...",2010,2010,PC,Percentage,0,Units,NaN,NaN,3.953611,B,Break
AUS,Australia,ENVRD_GBAORD,"Environmentally related government R&D budget,...",2015,2015,PC,Percentage,0,Units,NaN,NaN,3.828087,B,Break

In [48]:
unique_variables_significant = green_growth_significant["Variable"].unique()
print(unique_variables_significant)

['Environmentally related government R&D budget, % total government R&D'
 'Real GDP per capita' 'Population density, inhabitants per km2'
 'Renewable energy public RD&D budget, % total energy public RD&D'
 'Energy public RD&D budget, % GDP'
 'Value added in services, % of total value added'
 'Real GDP, Index 2000=100' 'Diesel tax, USD per litre'
 'Petrol tax, USD per litre'
 'Value added in industry, % of total value added'
 'Value added in agriculture, % of total value added'
 'Fossil fuel public RD&D budget (excluding CCS), % total energy public RD&D'
 'Diesel end-user price, USD per litre'
 'Petrol end-user price, USD per litre'
 'Industry electricity price, USD per kWh'
 'Residential electricity price, USD per kWh'
 'Annual surface temperature, change since 1951-1980'
 'Terrestrial protected area, % land area'
 'Marine protected area, % total exclusive economic zone'
 'Farmland Birds Index, 2000=100' 'Irrigated land, % agricultural land'
 'GDP deflator' 'Nominal exchange rate' 'Purchasing power parity'
 'Real GDP']

In [54]:
main_variables=green_growth_significant.groupby(['Variable']).count()['Value'].sort_values(ascending=False)
print(main_variables)

Variable
Population density, inhabitants per km2                                       2013
GDP deflator                                                                  1936
Nominal exchange rate                                                         1914
Purchasing power parity                                                       1837
Annual surface temperature, change since 1951-1980                            1815
Terrestrial protected area, % land area                                       1221
Marine protected area, % total exclusive economic zone                        1045
Real GDP, Index 2000=100                                                       990
Real GDP per capita                                                            990
Real GDP                                                                       990
Value added in industry, % of total value added                                264
Value added in agriculture, % of total value added                             264
Value added in services, % of total value added                                264
Diesel tax, USD per litre                                                      209
Petrol tax, USD per litre                                                      198
Environmentally related government R&D budget, % total government R&D           99
Diesel end-user price, USD per litre                                            66
Petrol end-user price, USD per litre                                            66
Energy public RD&D budget, % GDP                                                44
Fossil fuel public RD&D budget (excluding CCS), % total energy public RD&D      33
Renewable energy public RD&D budget, % total energy public RD&D                 33
Irrigated land, % agricultural land                                             22
Industry electricity price, USD per kWh                                         11
Farmland Birds Index, 2000=100                                                  11
Residential electricity price, USD per kWh                                      11
Name: Value, dtype: int64

Picking 3 variables on area:
Terrestrial protected area, % land area                                       1221
Marine protected area, % total exclusive economic zone                        1045
Irrigated land, % agricultural land                                             22

Also 1 variable on population density:
Population density, inhabitants per km2                                       2013

In [73]:
variable_set = set(['Terrestrial protected area, % land area','Marine protected area, % total exclusive economic zone','Irrigated land, % agricultural land','Population density, inhabitants per km2'])

In [74]:
sliced_green_growth = green_growth_significant[green_growth_significant['Variable'] in variable_set]

TypeError: 'Series' objects are mutable, thus they cannot be hashed